* {
    margin: 0;
    padding: 0; 
    /*overflow-x: hidden;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow:  hidden;
}

header {
    width: 1600px;
    height: 1065px;
    text-align: center;
    background-image: url("./images/Header-BG.png");
    position:relative;
}

.navbar {
    position: relative;
    top: 0px;
    left: 13%;
    z-index: 100;
    width: 1200px;
    height: 89px;
    background-color: transparent;
    border-bottom: 1px solid rgb(85, 80, 80);
}

.navbar 
img {
    margin: 32px 0px 30px -3px;
}

.navbar 
a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 33px 0px 32.5px;
    margin: 0px 9px 18px 56px;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15.96px;
    text-decoration: none;  
    cursor: pointer;
}

.navbar 
a:active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

header 
h1 {
    margin-top: 323px;
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

header 
p {
    margin-top: -7px;
    padding-left: 1px;
    padding-bottom: 17px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: Georgia;
    font-style: italic;
    font-weight: 300;
}

.container {
    width: 1600px;
    display: flex;
}

.login {
    display: block;
    margin-top: 330px;
    padding: 42px 280px 46px 470px;
    background-color: rgb(33, 66, 74);
    color: white;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.register {
    padding: 42px 448px 46px 234px;
    background-color: rgb(47, 172, 108);
}

.register::before {
    content: '';
    position: absolute;
    right: 703px;
    bottom: 0;
    width: 100px;
    height: 120px;
    background-color: rgb(47, 172, 108);
    transform: skew(-13deg);
}

#domain {
    width: 1600px;
    height: 578px;
}

#domain
.input {
    justify-content: flex-start;
    width: 887px;
    height: 49px;
    margin-bottom: 41px;
    border: 1px solid  rgb(217, 217, 217);
}

#domain
div
a {
    margin: 11px;
    padding: 4px;
    padding-right: 13px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(210, 210, 210);
    border-right: 1px solid  rgb(217, 217, 217);
}

#domain
div
select {
    padding: 4px 18px 5px 10px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: rgb(210, 210, 210);
    border: none;
    outline: 0;
    border-left: 1px solid  rgb(217, 217, 217);
}

#domain
div
input {
    margin: 6px;
    padding: 9px 1px;
    width: 730px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 15px;
    color: rgb(134, 134, 134);
    border: none;
    outline: 0;
}

#domain
table {
    width: 887px;
    height: 150px;
    text-align: center;
}

#domain 
table 
tr 
td {
    padding: 36px 0px;
    position: relative;
    width: 225px;
    height: 90px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(210, 210, 210);
}

#domain 
table 
tr:first-child 
td::before {
    content : "";
    position: absolute;
    left: 5px;
    bottom: -1px;
    height: 1px;
    width: 210px;
    border-bottom: 1px solid  rgb(217, 217, 217);
}

#domain 
table 
tr:first-child 
td:first-child::before {
    left: 25px; 
    width: 190px;
}

#domain 
table 
tr:first-child 
td:last-child::before { 
    left: 5px;
    width: 185px;
}


#domain 
table 
tr 
td::after {
    content : "";
    position: absolute;
    left: 10px;
    bottom: 5px;
    height: 75px;
    width: 210px;
    border-right: 1px solid  rgb(217, 217, 217);
}

#domain 
table 
tr:last-child 
td::after {
    bottom: 11px;  
}

#domain 
table 
tr 
td:first-child::after {
    left: 9px;
    bottom: 5px;
    height: 75px;
    width: 211px;
}

#domain 
table 
tr:last-child
td:first-child::after {
    bottom: 12px;
}

#domain 
table 
td:last-child::after {
    border-right: none;
}

#domain 
table {
    border: 1px solid  rgb(217, 217, 217);
}

#domain 
h2 {
    margin: 81px 0px 20px;
    font-size: 24px;
    font-family: lato, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(56, 55, 55)
}

#domain
p {
    margin: 0px 0px 48px -10px;
    font-size: 16px;
    word-spacing: -0.6px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168)
}

#hosting {
    position: relative;
    width: 1600px;
    height: 766px;
}

.hosting-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 384px;
    width: 100%;
    background-image: url('./images/hoisting-bg.png');
}

.package-block {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 200px;
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(to right, rgb(214,214,214) 37%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 7px 2px;
    background-repeat: repeat-x;
}

.package-item {
    position: relative;
    margin-top: 34px;
    width: 255px;
    height: 562px;
    background-color: white;
    border-top: 5px solid ;
}

.package-item::before {
    content: '';
    position: absolute;
    top: 281px;
    width: 255px;
    height: 281px;
    box-shadow: 0 10px 10px rgb(244,244,244);
}

.icon-container {
    height: 108px; 
    width: 200px;
    margin-left: 25px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.package-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin: 35px 0px 13px 70px;
    
}

.icon-1 {
    border: 6px solid rgb(249, 212, 35);
    border-radius: 50%;
    border-left-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
    transform: rotate(43deg);
    color: rgb(249, 212, 35);
}

.icon-2 {
    border: 6px solid rgb(127, 140, 141);
    border-radius: 50%;
    border-left-color: white;
    border-bottom-color: white;
    transform: rotate(43deg);
    color:rgb(127, 140, 141);
}

.icon-3 {
    border: 6px solid rgb(248, 95, 64);
    border-radius: 50%;
    border-left-color: white;
    transform: rotate(43deg);
    color:rgb(248, 95, 64);
}

.icon-4 {
    border: 6px solid rgb(26, 188, 156);;
    border-radius: 50%;
    transform: rotate(43deg);
    color:rgb(26, 188, 156);
}

.package-icon 
i {
    transform: rotate(-43deg);
}

.package-text {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;  
    color: black;
}

.plan-1:hover {
    color: rgb(249, 212, 35);
}

.plan-2:hover {
    color:rgb(127, 140, 141);
}

.plan-3:hover {
    color:rgb(248, 95, 64);
}

.plan-4:hover {
    color:rgb(26, 188, 156);
}

.package-list {
    height: 283px; 
    width: 200px;
    margin-left: 25px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.package-list 
ul 
li {
    padding-top: 15px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgb(180, 180, 180);
    list-style-type: none;
}

.package-list 
ul 
li
a {
    float: right;
    font-family: lato, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.list-1
a {
    color: rgb(249, 212, 35);
}

.list-2
a {
    color: rgb(127, 140, 141);
}

.list-3
a {
    color: rgb(248, 95, 64);
}

.list-4
a {
    color: rgb(26, 188, 156);
}

.package-price {
    height: 134px; 
    width: 200px;
    margin-left: 25px;
    text-align: center;
}

.price-container {
    display: inline-block;
    padding: 0px 15px;
    margin-top: 23px;
}

.price-1 {
    border-bottom: 3px solid rgb(249, 212, 35);
}

.price-2 {
    border-bottom: 3px solid rgb(127, 140, 141);
}

.price-3 {
    border-bottom: 3px solid rgb(248, 95, 64);
}

.price-4 {
    border-bottom: 3px solid rgb(26, 188, 156);
}

.price-container
a {
    padding: 0px;
    font-size: 27.72px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.price-container
a:first-child {
    display: block;
    float: left;
    padding: 5px 0px 0 2px;
    font-size: 16.83px;
    font-family: lato, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.price-container
a:last-child {
    display: block;
    float: right;
    padding-top: 15px;
    font-size: 13px;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.package-text {
    margin-top: 14px;
}

.about-us {
    position: relative;
    width: 1600px;
    height: 400px;
}

.about-us-info {
    position: absolute;
    top: 95px;
    left: 200px;
    display: inline-block;
    width: 521px;
    height: 190px;
}

.about-us-info::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 521px;
    height: 188px;
    background-image: linear-gradient(to top, rgb(214,214,214) 37%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 7px;
    background-repeat: repeat-y;
}

.about-us-info
h3 {
    font-family: lato, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35.11px;
    margin-bottom: 16px;
}

.about-us-info
p {
    font-family: lato, sans-serif;
    font-weight: 275;
    font-style: normal;
    font-size: 18.06px;
    line-height: 27px;
}

.about-us-team {
    position: absolute;
    top: 95px;
    left: 756px;
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 190px;
}

.about-us-teamworker {
    width: 194px;
    height: 201px;
    margin: 12px 16px 0px 18px;
}

.about-us-teamworker:last-child {
    margin-right: 0px;
}

.about-us-teamworker 
img {
    margin-left: 48px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
}

.about-us-teamworker 
h4 {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
}

.about-us-teamworker 
p {
    text-align: center;
    margin: 2px 0px 10px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(142, 142, 142)
}

.about-us-team-social {
    text-align: start;
}

.about-us-team-social
a {
    margin: 0px -30.5px 0px 50.5px;
    color: rgb(191, 191, 191)
}

.about-us-team-social
a:hover {
    margin: 0px -30.5px 0px 50.5px;
    color: rgb(31, 137, 186)
}

.comments-panel {
    position: relative;
    width: 100%;
    height: 190px;
    background-image: url('./images/commentsbg.jpg');
    background-repeat: no-repeat;
}

.comments-panel::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 190px;
    background-color: black;
    opacity: 0.6;
}

.comment-element {
    position: absolute;
    top: 25px;
    left: 317px;
    width: 970px;
    text-align: center;
}

.comment-element 
p{
    margin: 20px 0 10px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

.comment-element
a {
    position: relative;
    right: 8px;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    text-decoration: none;  
    cursor: pointer;
}

.comment-element
a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -8px;
    height: 14px;
    border-right: 1px solid white;
}
.comment-element 
span {
    position: relative;
    display: inline-block;
    bottom: 3px;
    left: 12px;
    height: 6px;
    width: 6px;
    margin-right: 8px;
    border: 1px solid white;
    border-radius: 50%;
}

.service {
    width: 1600px;
    height: 342px;
}

.service-block {
    display: inline-block;
    position: relative;
    top: 97px;
    left: 180px;
    margin-right: 56px;
    height: 245px;
    width: 265px;
    text-align: center;
}

.service-block
a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 38%;
    height: 60px;
    width: 60px;
    border: 0px;
    border-radius: 50%;
    text-decoration: none;
}

.service-block
i {
    font-size: 28px;
    color: #fff;
}

.service-block 
h4 {
    margin-top: 17px;
    font-family: 'lato', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

.service-block
p {
    margin-top: 3px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16.02px;
    color: rgb(126, 126, 126)
}


footer {
    background-color: black;
    height: 293px;
    width: 1600px;
}

footer .navbar {
    position: absolute;
    opacity: 0.6;
}

footer .navbar 
img {
    margin: 19px 0px 0px 26px;
}

footer .navbar 
a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 27px 0px 35px;
    margin-left: 30px;
    font-size: 14px;
    text-decoration: none;  
    cursor: pointer;
}


.item {
    display: inline-block;
    width: 33%;
    height: 203px;
    margin-top: 5%;
    opacity: 0.6;
    border-right: 2px solid rgb(85, 80, 80);
}

footer 
:last-child {
    border: none;
}

.item a {
    color: rgb(104, 104, 104);
    padding-left: 30px;  
    font-size: 20px; 
}

.item 
a 
img {
    padding-right: 15px;
}